@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";

body {
  display: grid;
  grid-template-areas: 
    "header header"
    "query result"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
}

header {
  grid-area: header;
}

section.query {
  grid-area: query;
  place-self: center;
}

section.query h1 {
  background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.result {
  display: flex;
  grid-area: result;
  padding: 1em;
}

section.result div {
  box-shadow: var(--shadow-4);
  border-radius: var(--radius-conditional-3);
  border: var(--border-size-1) solid var(--gray-1);
  place-self: center;
  padding: 1em;
  background-color: var(--blue-11);
}

footer {
  grid-area: footer;
}