@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";

body {
  display: grid;
  grid-template-areas: 
    "header header"
    "query result"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  max-height: 100dvh;
}

@media (max-width: 600px) {
  body {
    grid-template-areas: 
      "header"
      "query"
      "result"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
  }

  section.result div {
    margin-right: unset !important;
    overflow-y: unset;
    max-height: unset;
  }
}

@media (prefers-color-scheme: light) {
  section.query h1 {
    background: var(--gradient-17) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  section.result div {
    background-color: var(--blue-1) !important;
  }
}

header {
  grid-area: header;
  margin: 1em 0;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

section.query {
  grid-area: query;
  place-self: center;
}

section.query h1 {
  background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.result {
  display: flex;
  grid-area: result;
  padding: 1em;
}

section.result div {
  box-shadow: var(--shadow-4);
  border-radius: var(--radius-conditional-3);
  border: var(--border-size-1) solid var(--gray-1);
  place-self: center;
  padding: 1em;
  background-color: var(--blue-11);
  margin-right: 5em;
  overflow-y: scroll;
  max-height: 80dvh;
}

section.result div.hidden {
  opacity: 0;
}

section.result div.visible {
  opacity: 1;
  animation: 
    var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}